h1 {
    color: #141414;
    font-family: Podkova;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 79px;
    padding-bottom: 55px;
}

p {     
    color: #141414;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%; /* 20.48px */
    text-transform: uppercase;
}

li {     
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    color: #434A5C;    
}

.container {
    width: 1140px;
    margin: 0px auto;
}
.headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    vertical-align: middle;
    margin: 0px;
    border-bottom: 1px solid #DDD;
}
.headerTop__motto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    vertical-align: middle;
    margin-top: 26px;
    margin-bottom: 26px;

}
.motto {
    padding-left: 20px;
}
.headerTop__callback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    vertical-align: middle;
    margin: 0px;
    gap: 20px;

}
.phone {
    color: #3D3D3D;
    font-family: Podkova;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 26px */
    text-transform: uppercase;    
}
.headerDown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    vertical-align: middle;
    margin-top: 24px;
    margin-bottom: 27px;
}
.headerDown__actions {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    vertical-align: middle;
    gap: 20px;
}

.headerDown__business {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    vertical-align: middle;
    gap: 20px;
}

.banner {
    padding-top: 37px;
}
.actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 30px;
    
    
}
.title {
    grid-column: span 2;
    color: #BF6024;
    font-family: Podkova;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 128%;
    
    
}

.title__appart {
    grid-column: span 2;
    color: #BF6024;
    font-family: Podkova;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 128%;
    border-top:1px solid #DDD;
    padding-top: 40px;

}
.ad__block {
    width: 555px;
    height: 283px;
    flex-shrink: 0;
    background: #F3F6FA;
    color: #141414; 
    position: relative;
   
}


.ad__title {
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 128%;
    padding-bottom: 25px; 
}

.btn {
    display: flex;
    width: 160px;
    height: 34px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #BF6024;
    color: #BF6024;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%; 
    text-transform: uppercase;
        
}

.colorBtn {
    display: flex;
    width: 160px;
    height: 34px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #BF6024;
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%; 
    text-transform: uppercase;    
         
}

.btnBlock {
    display: flex;
    justify-content:space-between;
    text-align: center;
    width: 340px;
    position: absolute
}

.service {
    grid-row: span 2;
    position: relative;
}

.service_block {
    position: absolute;
    left: 40px;
    bottom: 80px;
    z-index: 1;
}

.service__title {
    color: #FFF;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 128%;
    padding-bottom: 25px;
    
}
.ad1 {
    position: absolute;
    left: 40px;
    bottom: 40px;
}

.ad2 {
    position: absolute;
    left: 40px;
    bottom: 80px;
}

.footer__content {    
    display: flex;
    justify-content: space-between;     
    padding-top: 60px;
    padding-bottom: 60px;
    border-top:1px solid #DDD;
    margin-top: 80px;
}

.footer_sec {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    color: #424242;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;  
  
}
.underline {
    text-decoration-line: underline;
}
